.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# IDE related files
.idea
*.iml
.vscode

# Working data
/debug.py
/download
/exports
/dump.zip
browser_data/
logs/
tmp/